TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
ALLOWED_CHAT_IDS=YOUR_CHAT_ID_HERE
CLAUDE_TIMEOUT=120
SESSION_MSG_LIMIT=40
LIGHT_MODEL=haiku
PATH=/home/admin/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
